



    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <bean id = "alien" class = "org.example.Alien"   autowire ="byType">
   <!--   <property name="age"  value="12" />    setter injection />-->
        <!--     <constructor-arg value="14"/>    cosntructor injection />-->
        <!--   <property name="laptop"  ref="lap1" />   />-->
        <!--  <constructor-arg ref="lap1"/>  />-->
        <!--  <property name="comp"  ref="lap1" /> />-->


     </bean>

         <bean id = "alien1" class = "org.example.Alien">

         </bean>

         <bean id = "lap1" class = "org.example.Laptop"  primary="true" >

         </bean>

         <bean id = "desk1" class = "org.example.Dekstop">

         </bean>

     </beans>